* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: poppins;
    background-color: #f9f9f9;
}
ul, ul.nav {
	list-style: none;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}
.logocani{
	width: 100px;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #305087;
	padding: 35px 100px 0;
    display: flex;
    width: 100%;
}
header h2 span {
	color: #366739;
}
header ul.nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
header ul.nav li {
	margin: 0 15px;
}
header ul.nav li:first-child {
	margin-left: 0;
}
header ul.nav li:last-child {
	margin-right: 0;
}
@media(max-width:1000px) {
	header {
		padding: 20px 50px;
	}
}
@media (max-width:700px) {
	header {
		flex-direction: column;
	}
	header h2 {
		margin-bottom: 15px;
	}
	header ul.nav li {
		margin: 0 7px;
	}
	.about-right p {
		display: none;
	}
}
.sections{
    display: flex;
    padding: 0 0;
    box-sizing: border-box;
    height: 35%;
    justify-content: space-around;
    position: relative;
    padding-top: 15%;
    margin-bottom: 5%;
}
.container {
    background-color: #669966;
    border-radius: 30px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-sizing: border-box;
    height: 300px;
  }
  .container h1 {
    color: #fff;
    font-size: 24px;
  }
  .container p {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .container button {
    background-color: #456990;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .container button:hover {
    background-color: #29466b;
  }
  footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #305087;
	background-color: #070505;
	padding: 60px 0;
}
  @media (max-width:750px) {
	.sections {
		flex-direction: column;
		margin-top: 15%;
    }
  }

  ul.contact-content {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.contact-content li {
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}
.contact-content li i {
	font-size: 50px;
	color: #366739;
	margin-bottom: 25px;
}
.globes{
	display: flex;
	justify-content: space-around;
}
#moreinfoo{
	padding: 15px 35px;
	border-radius: 30px;
	background: #366739;
	text-transform: uppercase;
	color: #ffffff;
}
.contact-content li p {
	margin: 0;
}
@media (max-width: 1000px) {
	.contact-content li {
		flex-basis: 100%;
		margin-bottom: 65px;
	}
	.contact-content li:last-child {
		margin-bottom: 0;
	}
	.contact-content li p {
		padding: 0;
	}
    .section-title {
        text-align: center;
    }
}
.section-title {
	text-transform: uppercase;
	font-size: 50px;
	margin-bottom: 5%;
}
.section-title span {
	color: #366739;
}
section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 110px 100px;
	color: #000;
}